.article__content {
  /* center image alignment */
  .center-image
  {
      margin: 0 auto;
      display: block;
  }
  .text-align-left
  {
    text-align: left;
  }
  .text-align-center
  {
    text-align: center;
  }
}